<!DOCTYPE html>
<html>
  <head>
    <%- include('./layout/head') %>
    <title>New Search</title>
  </head>

  <body>
  <%- include('./layout/header') %>
  <h1>Readable Trees!</h1>
    <main>
      <h4>Search by Title or Author</h4>
      <form action='/searches' method='POST'>
        <input type='text' name='search' placeholder='Search by title or author...' required>
        <fieldset>
          <label for='title'>
            <span>Title</span>
            <input type='radio' name='search' value='title' required>
          </label>
        </fieldset>
        <fieldset>
          <label for='author'>
            <span>Author</span>
            <input type='radio' name='search' value='author' required>
          </label>
        </fieldset>
        <button type='submit'>Find the Readable Tree!</button>
      </form>
    </main>
  </body>
</html>