<!DOCTYPE html>
<html>
<head>
  <%- include('./layout/head') %>
  <title>error</title>
</head>
<body>
  <%- include('./layout/header') %>
  <section id='content'>
    <h3 class='p-title'> <%= status %> </h3>
    <%= error %>
  </section>
</body>
</html>