<div class="dropdown">
  <button class="dropButton"><h1 id="header-title">Favorite Books!</h1></button>
  <div class="content">
    <a href="/">Homepage</a>
    <a href="/searches">Browse Catalog</a>
  </div>
</div>